<div class="wrapper-all">
  <!-- body -->
  <div class="container">
    <h2 class="text-center my-5"><strong>Giày Sneaker</strong></h2>
    <div class="body-content">
      <div class="row">
        <aside class="col-2">
          <div class="container">
            <div class="collection">
              <h5 class="fs-5 fst-italic"><strong>COLLECTION</strong></h5>
              <ul class="p-0 my-3">
                <dd>
                  <a class="text-decoration-none fw-bolder fs-6" href="#"
                    >Giày Sneaker Local Brands</a
                  >
                </dd>
                <dd>
                  <a class="text-decoration-none fw-bolder fs-6" href="#"
                    >Giày Sneaker Nam</a
                  >
                </dd>
                <dd>
                  <a class="text-decoration-none fw-bolder fs-6" href="#"
                    >Giày Sneaker Nữ</a
                  >
                </dd>
                <dd>
                  <a class="text-decoration-none fw-bolder fs-6" href="#"
                    >Giày Sneaker Trắng</a
                  >
                </dd>
              </ul>
            </div>
            <hr />
            <div class="size">
              <h5 class="fs-5 fst-italic"><strong>Size</strong></h5>
              <div class="d-flex flex-wrap">
                <button class="btn btn-outline-dark fw-bolder fst-italic m-1">
                  36
                </button>
                <button class="btn btn-outline-dark fw-bolder fst-italic m-1">
                  37
                </button>
                <button class="btn btn-outline-dark fw-bolder fst-italic m-1">
                  38
                </button>
                <button class="btn btn-outline-dark fw-bolder fst-italic m-1">
                  39
                </button>
                <button class="btn btn-outline-dark fw-bolder fst-italic m-1">
                  40
                </button>
                <button class="btn btn-outline-dark fw-bolder fst-italic m-1">
                  41
                </button>
                <button class="btn btn-outline-dark fw-bolder fst-italic m-1">
                  42
                </button>
                <button class="btn btn-outline-dark fw-bolder fst-italic m-1">
                  43
                </button>
                <button class="btn btn-outline-dark fw-bolder fst-italic m-1">
                  44
                </button>
              </div>
            </div>
            <hr />
            <div class="brand">
              <h5 class="fs-5 fst-italic"><strong>Brand</strong></h5>
              <div class="d-flex flex-wrap">
                <a href="#"
                  ><img
                    class="img-thumbnail m-1"
                    src="imgs/logo-adidas.png"
                    style="width: 70px"
                /></a>
                <a href="#"
                  ><img
                    class="img-thumbnail m-1"
                    src="imgs/logo-balenciaga.png"
                    style="width: 70px"
                /></a>
                <a href="#"
                  ><img
                    class="img-thumbnail m-1"
                    src="imgs/logo-converse.png"
                    style="width: 70px"
                /></a>

                <a href="#"
                  ><img
                    class="img-thumbnail m-1"
                    src="imgs/logo-crocs.png"
                    style="width: 70px"
                /></a>
                <a href="#"
                  ><img
                    class="img-thumbnail m-1"
                    src="imgs/logo-mcqueen.png"
                    style="width: 70px"
                /></a>
                <a href="#"
                  ><img
                    class="img-thumbnail m-1"
                    src="imgs/logo-mlb.png"
                    style="width: 70px"
                /></a>
                <a href="#"
                  ><img
                    class="img-thumbnail m-1"
                    src="imgs/logo-nike.png"
                    style="width: 70px"
                /></a>
                <a href="#"
                  ><img
                    class="img-thumbnail m-1"
                    src="imgs/logo-vans.png"
                    style="width: 70px"
                /></a>
              </div>
            </div>
            <hr />
            <div class="price">
              <h5 class="fs-5 fst-italic"><strong>Price</strong></h5>
              <ul class="my-3">
                <li class="mb-2">
                  <a class="text-decoration-none fw-bolder fs-6" href="#"
                    >3m hơn</a
                  >
                </li>
                <li class="mb-2">
                  <a class="text-decoration-none fw-bolder fs-6" href="#"
                    >2m - 3m</a
                  >
                </li>
                <li class="mb-2">
                  <a class="text-decoration-none fw-bolder fs-6" href="#"
                    >1m - 2m</a
                  >
                </li>
                <li class="mb-2">
                  <a class="text-decoration-none fw-bolder fs-6" href="#"
                    >500k - 999k</a
                  >
                </li>
                <li class="mb-2">
                  <a class="text-decoration-none fw-bolder fs-6" href="#"
                    >Dưới 500k</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </aside>
        <article class="col-10">
          <div class="shop-loop-head row">
            <div class="col-6">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a
                      href="#!home"
                      class="text-decoration-none"
                      style="color: darkgray; font-size: 16px"
                      >Trang chủ</a
                    >
                  </li>
                  <li
                    class="breadcrumb-item active fw-semibold"
                    style="color: black"
                    aria-current="page"
                  >
                    Giày Sneaker
                  </li>
                </ol>
              </nav>
            </div>
            <div
              class="col-6 d-flex justify-content-end"
              style="align-items: end"
            >
              <select
                class="form-select w-25 mb-2 me-5"
                aria-label="Default select example"
              >
                <option selected value="1">Mặc định</option>
                <option value="2">Giá Tăng Dần</option>
                <option value="3">Giá Giảm Dần</option>
              </select>
            </div>
          </div>
          <div class="d-flex flex-wrap">
            <div
              class="border border-black rounded m-1"
              ng-repeat="p in products | limitTo : 12 :start track by $index "
              style="width: 250px; height: 370px"
            >
              <a href="#!info/{{p.name}}">
                <img
                  class="rounded-top"
                  src="{{p.image[0]}}"
                  style="width: 100%"
                />
              </a>
              <div class="container my-2 d-flex flex-column">
                <p class="m-0">
                  <a href="#!info/{{p.name}}" class="text-decoration-none text-start"
                    >{{p.name}}</a
                  >
                </p>
                <strong
                  ><a href="#!info/{{p.name}}" class="text-decoration-none">
                    {{p.brand}}
                  </a></strong
                >
                <span>
                  <i class="fw-bolder"><span>{{p.price | number}}đ</span></i>
                </span>
              </div>
            </div>
          </div>
          <div class="num-page mt-4 mb-5">
            <nav>
              <ul class="pagination justify-content-center">
                <li
                  class="page-item {{(page == 1)?'disabled':''}}"
                  ng-click="np(page = 1)"
                >
                  <a class="page-link text-black" href="" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li
                  class="page-item"
                  ng-repeat="n in numPage track by $index"
                  ng-click="np(n+1)"
                >
                  <a href="" class="text-decoration-none" type="button"
                    ><span class="page-link">{{n+1}}</span></a
                  >
                </li>
                <li
                  class="page-item {{(page == totalPage)?'disabled':''}}"
                  ng-click="np(page = totalPage)"
                >
                  <a class="page-link" href="" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>

<div class="container bg-light">
  <hr class="border-2" />
  <div class="row mx-5">
    <div class="col-3 row">
      <div class="col-2 mt-2">
        <i class="fa-solid fa-truck-fast fs-2"></i>
      </div>
      <div class="col-10">
        <h5 class="fw-bolder">SHIP COD TOÀN QUỐC</h5>
        <p>Miễn phí vận chuyển toàn quốc cho đơn hàng từ 999.000đ.</p>
      </div>
    </div>
    <div class="col-3 row">
      <div class="col-2 mt-2">
        <i class="fa-solid fa-user-check fs-2"></i>
      </div>
      <div class="col-10">
        <h5 class="fw-bolder">CHẤT LƯỢNG TUYỆT ĐỐI 100%</h5>
        <p>
          Cam kết sản phẩm chính hãng đến từ New Balance, Vans, Converse,...
        </p>
      </div>
    </div>
    <div class="col-3 row">
      <div class="col-2 mt-2">
        <i class="fa-solid fa-wallet fs-2"></i>
      </div>
      <div class="col-10">
        <h5 class="fw-bolder">THANH TOÁN DỄ DÀNG</h5>
        <p>Phương thức thanh toán đa dạng và cực kì tiện lợi.</p>
      </div>
    </div>
    <div class="col-3 row">
      <div class="col-2 mt-2">
        <i class="fa-solid fa-clock-rotate-left fs-2"></i>
      </div>
      <div class="col-10">
        <h5 class="fw-bolder">TIẾT KIỆM THỜI GIAN</h5>
        <p>Mua sắm dễ hơn khi Online.</p>
      </div>
    </div>
  </div>
</div>
